<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <style>
        body {
            font-family: sans-serif;
            text-align: center;
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <h1>Welcome to our site!</h1>
    <p>Your IP: <%= ip %></p>
    <p>Country: <%= country %></p>
</body>
</html>
