<!DOCTYPE html>
<html>
<head>
    <title>Gotcha!</title>
    <style>
        body {
            font-family: sans-serif;
            text-align: center;
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <h1>LMAOOOO you gave your location away!</h1>
    <p>Your IP: <%= ip %></p>
    <p>Country: <%= country %></p>

    <script src="/fingerprint.js"></script>
    <script>
        // Send IP from server side to client JS
        const serverIP = "<%= ip %>";
    </script>
</body>
</html>
